# =====================
# .NET
# =====================
bin/
obj/
*.user
*.suo
*.cache

# =====================
# Visual Studio
# =====================
.vs/
*.dbmdl

# =====================
# Node / Vue
# =====================
node_modules/
dist/
.vite/

# =====================
# DevExpress / Report
# =====================
# file temp / cache
*.repx.bak
*.~repx

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db